<nav>
    <ul>
        <li>
            <a href="/">
                <img src="../images/logo.webp" alt="logo">
            </a>
        </li>
        <li>
            <a href="/profile" class="profileDetail">Profiel bekijken</a>
        </li>
    </ul>
</nav>