<footer>
    <ul>
        <li>
            <a href="#"><h3>Algemene voorwaarden</h3></a>
        </li>
        <li><a href="#"><h3>Contact</h3></a></li>
        <li>
            <a href="#"><h3>Over ons</h3></a>
        </li>
        <li>
            <a href="#"><h3>Nieuwsbrief</h3></a>
        </li>
        <li>
            <a href="#"><h3>Socials</h3></a>
        </li>
    </ul>
    <ul>
        <li><a href="#"><p>Gebruikersvoorwaarden</p></a></li>
        <li><a href="#"><p>Contact</p></a></li>
        <li><a href="#"><p>Ons verhaal</p></a></li>
        <li><a href="#"><p>Wat is er nieuw?</p></a></li>
        <div class="socials">
            <li>
                <a href="#">
                    <img src="images/instagram.png" alt="instagram logo">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src="images/facebook.png" alt="instagram logo">
                </a>
            </li>
            <li>
                <a href="#">
                    <img src=" images/twitter.png" alt="instagram logo">           
                </a>
            </li>
        </div>
    </ul>
</footer>