<nav>
    <ul>
        <li>
            <img src="images/logo.png" alt="logo">
        </li>
        <li>
            <a href="#" class="registreren">Registreren</a>
            <a href="#" class="inloggen">Inloggen</a>
        </li>
    </ul>
</nav>
<style>

</style>