<nav>
    <ul>
        <li>
            <img src="images/logo.png" alt="logo">
        </li>
        <li>
            <a href="/uitloggen" class="registreren">Uitloggen</a>
            <a href="#" class="inloggen">Instellingen</a>
        </li>
    </ul>
</nav>