<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <%- include('partials/head') %>
</head>
<body>
    <section class="hero">
        <video autoplay loop muted plays-inline class="background-video">
            <source src="../videos/fightclub-loop.mp4">
        </video>

        <header>
        <%- include('partials/header') %>
        </header>

        <main>
            <h1> CINEMATCH</h1>
            <h2>
                Stop met scrollen,<br>
                Start met kijken!
            </h2>
            <a href="#" class="primary-button"> Vind je match!</a>
        </main>
    </section>

    <section class="info">
        <ul>
            <li>
                <img src="../images/stemming.svg" alt="icoon stemming" height="100">
                <h3>
                    Kies je stemming
                </h3>
            </li>
            <li>
                <img src="../images/match.svg" alt="icoon matching" height="100">
                <h3>
                    Ontvang je match
                </h3>
            </li>
             <li>
                <img src="../images/favoriet.svg" alt="icoon favoriet" height="100">
                <h3>
                    Bewaar je favoriet
                </h3>
            </li>
        </ul>
    </section>

    <section id="populair-movies">
        <h2>
            Populair deze maand
        </h2>

        <div class="movie-grid">
            <article class="movie-card">
                <img src="../images/spiderman.png" alt="Spiderman Into the Spiderverse">
                <h3>Spiderman: Into the multiverse</h3>  
            </article>

            <article class="movie-card">
                <img src="../images/spiderman.png" alt="Spiderman Into the Spiderverse">
                <h3>Spiderman: Into the multiverse</h3>  
            </article>

            <article class="movie-card">
                <img src="../images/spiderman.png" alt="Spiderman Into the Spiderverse">
                <h3>Spiderman: Into the multiverse</h3>  
            </article>

            <article class="movie-card">
                <img src="../images/spiderman.png" alt="Spiderman Into the Spiderverse">
                <h3>Spiderman: Into the multiverse</h3>  
            </article>

            <article class="movie-card">
                <img src="../images/spiderman.png" alt="Spiderman Into the Spiderverse">
                <h3>Spiderman: Into the multiverse</h3>  
            </article>
        </div>
    </section>
    
    <footer>
        <%- include('partials/footer') %>
    </footer>
</body>
</html>