<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <%- include('partials/head') %>
</head>
<body>
    <section class="hero">
        <video autoplay loop muted plays-inline class="background-video">
            <source src="../videos/Fight club loop.mp4">
        </video>

        <header>
        <%- include('partials/header') %>
        </header>

        <main>
            <h1> CINEMATCH</h1>
            <h2>
                Stop met scrollen,
                Start met kijken!
            </h2>
            <a href="#" class="primary-button"> Vind je match!</a>
        </main>
    </section>
    
    <!-- <footer>
        <%- include('partials/footer') %>
    </footer> -->
</body>
</html>
