<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <main class="lore-main">
        <h1 class="h1-lore">Login</h1>
        <div class="form-rectangle">
            <h2 class="h2-welkom">Welkom terug !</h2>
            <% if (error) { %>
                <div class="form-error" role="alert"><%= error %></div>
            <% } %>
            <form class="login-form" action="/login" method="POST">
                <label for="email" class="l-email">Email:</label>
                <input type="text" id="l-email" name="email" value="<%= formData && formData.email ? formData.email : '' %>">
                <label for="wwoord" class="l-wwoord">Wachtwoord:</label>
                <input type="password" id="l-wwoord" name="wwoord">
                <p class="l-alac">Heb je nog geen account? <a href="register" class="toregister">Registreer</a></p>
                <input type="submit" id="login" name="login" value="Login">
            </form>
        </div>
    </main>
</body>

</html>
