<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="matching">
    <header></header>
    <section>
        <h1>Resultaten</h1>
        <input type="search" placeholder="Zoek op naam">
    </section>
    <section>
        <ul>
            <li>
                <img src="" alt="">
                <h2>Filmnaam</h2>
            </li>
        </ul>
    </section>
</body>
</html>