<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="matching">
    <header></header>
    <h1>Resultaten</h1>
    <section id="beste-match">
        <h2>Jouw beste match!</h2>
        <ul id="beste-match-ul">
            <li>
                <img src="" alt="">
                <div class="beste-match-div">
                    <h3>filmnaam</h3>
                    <h4 id="oranje">92%</h4>
                    <h4>Match</h4>
                    <p>1 uur 29 min</p>
                    <p>Dit is gewoon een korte beschrijving over de film/serie blahblahblah</p>
                    <button>Bekijk details</button>
                </div>
            </li>
        </ul>
    </section>
    <section class="meer-matches">
        <h2>Je andere matches</h2>
        <ul class="meer-matches-ul">
            <li>
                <img src="" alt="">
                <div>
                    <h3>Filmnaam</h3>
                    <h4 id="oranje">80%</h4>
                    <h4>Match</h4>
                    <p>1 uur 29 min</p>
                    <p>Dit is gewoon een korte beschrijving over de film/serie blahblahblah</p>
                    <button>Bekijk details</button>
                </div>
            </li>
            <li>
                <img src="" alt="">
                <div>
                    <h3>Filmnaam</h3>
                    <h4 id="oranje">60%</h4>
                    <h4>Match</h4>
                    <p>1 uur 29 min</p>
                    <p>Dit is gewoon een korte beschrijving over de film/serie blahblahblah</p>
                    <button>Bekijk details</button>
                </div>
            </li>
            <li>
                <img src="" alt="">
                <div>
                    <h3>Filmnaam</h3>
                    <h4 id="oranje">40%</h4>
                    <h4>Match</h4>
                    <p>1 uur 29 min</p>
                    <p>Dit is gewoon een korte beschrijving over de film/serie blahblahblah</p>
                    <button>Bekijk details</button>
                </div>
            </li>
            <li>
                <img src="" alt="">
                <div>
                    <h3>Filmnaam</h3>
                    <h4 id="oranje">20%</h4>
                    <h4>Match</h4>
                    <p>1 uur 29 min</p>
                    <p>Dit is gewoon een korte beschrijving over de film/serie blahblahblah</p>
                    <button>Bekijk details</button>
                </div>
            </li>
        </ul>
    </section>
</body>
</html>
