<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="vragenlijst">
    <main>
        <section>
            <h1>Welke filmperiode spreekt je aan?</h1>
            <ul class="checkboxbutton-list">
                <li><button class="checkbox-button">Geen voorkeur</button></li>
                <li><button class="checkbox-button">60s</button></li>
                <li><button class="checkbox-button">70s</button></li>
            </ul>
            <ul class="checkboxbutton-list">
                <li><button class="checkbox-button">80s</button></li>
                <li><button class="checkbox-button">90s</button></li>
                <li><button class="checkbox-button">00s</button></li>
            </ul>
            <ul class="checkboxbutton-list">
                <li><button class="checkbox-button">2000-2010</button></li>
                <li><button class="checkbox-button">2010-2020</button></li>
                <li><button class="checkbox-button">2020+</button></li>
            </ul>
            <div class="volgende-vorige">
                <button class="primary-button">vorige</button>    
                <button class="primary-button">volgende</button>
            </div>    
        </section>
    </main>
</body>
</html>
