<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="vragenlijst" data-stap="3">
    <main>
        <section>
            <h1>Hoe lang mag de film duren?</h1>
            <ul class="checkboxbutton-list">
                <li><button class="checkbox-button">90 min en korter</button></li>
                <li><button class="checkbox-button">90 tot 120 min</button></li>
                <li><button class="checkbox-button">120 min en langer</button></li>
            </ul>
            <div class="volgende-vorige">
                <button onclick="window.location.href='/vragenlijst-vraag2'" id="vorige" class="primary-button">vorige</button>    
                <button  onclick="window.location.href='/vragenlijst-vraag4'"id="volgende" class="primary-button">volgende</button>
            </div>        
        </section>
        <div class="container">
            <div class="stappen">
                <span class="cirkel actief">1</span>
                <span class="cirkel actief">2</span>
                <span class="cirkel actief">3</span>
                <span class="cirkel">4</span>
                <span class="cirkel">5</span>
                <span class="cirkel">6</span>
                <div class="progressie-bar">
                    <span class="indicator"></span>
                </div>
            </div>
        </div>
    </main>
    <script src="/scripts/main.js"></script>
</body>
</html>
