<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="vragenlijst">
    <main>
        <h1>Vind de film voor nu!</h1>
        <section>
            <h2>Door het invullen van deze vragenlijst vind je precies
de film voor het moment. De vragenlijst bestaat uit 6 vragen. </h2>
            <button class="primary-button">Start</button>    
        </section>
    </main>
</body>
</html>
