<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="vragenlijst" data-stap="5">
    <main>
        <section>
            <h1>Welke leeftijdscategorie?</h1>
            <ul class="checkboxbutton-list">
                <li><button class="checkbox-button">AL</button></li>
                <li><button class="checkbox-button">12+</button></li>
            </ul>
            <ul class="checkboxbutton-list">
                <li><button class="checkbox-button">16+</button></li>
                <li><button class="checkbox-button">Geen voorkeur</button></li>
            </ul>
            <div class="volgende-vorige">
                <button onclick="window.location.href='/vragenlijst-vraag4'" id="vorige" class="primary-button">vorige</button>    
                <button onclick="window.location.href='/vragenlijst-vraag6'" id="volgende" class="primary-button">volgende</button>
            </div>      
        </section>
        <div class="container">
            <div class="stappen">
                <span class="cirkel actief">1</span>
                <span class="cirkel actief">2</span>
                <span class="cirkel actief">3</span>
                <span class="cirkel actief">4</span>
                <span class="cirkel actief">5</span>
                <span class="cirkel">6</span>
                <div class="progressie-bar">
                    <span class="indicator"></span>
                </div>
            </div>
        </div> 
    </main>
    <script src="/scripts/main.js"></script>
</body>
</html>
