<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="vragenlijst" data-stap="5">
    <main>
        <section>
            <h1>Voor welke doelgroep zoek je een film?</h1>
            <ul class="checkboxbutton-list">
                <li>
                    <input class="checkbox-input" type="radio" id="doelgroep-voor-iedereen" name="doelgroep" value="Voor iedereen" onchange="kiesDoelgroep('Voor iedereen')">
                    <label class="checkbox-button" for="doelgroep-voor-iedereen">Voor iedereen</label>
                </li>
                <li>
                    <input class="checkbox-input" type="radio" id="doelgroep-voor-volwassenen" name="doelgroep" value="Voor volwassenen" onchange="kiesDoelgroep('Voor volwassenen')">
                    <label class="checkbox-button" for="doelgroep-voor-volwassenen">Voor volwassenen</label>
                </li>
            </ul>
            <ul class="checkboxbutton-list">
                <li>
                    <input class="checkbox-input" type="radio" id="doelgroep-geen-voorkeur" name="doelgroep" value="Geen voorkeur" onchange="kiesDoelgroep('Geen voorkeur')">
                    <label class="checkbox-button" for="doelgroep-geen-voorkeur">Geen voorkeur</label>
                </li>
            </ul>
            <div class="volgende-vorige">
                <a href="/vragenlijst-vraag4" id="vorige" class="primary-button">vorige</a>
                <a href="/vragenlijst-vraag6" id="volgende" class="primary-button">volgende</a>
            </div>      
        </section>
        <div class="container">
            <div class="stappen">
                <span class="cirkel actief">1</span>
                <span class="cirkel actief">2</span>
                <span class="cirkel actief">3</span>
                <span class="cirkel actief">4</span>
                <span class="cirkel actief">5</span>
                <span class="cirkel">6</span>
                <div class="progressie-bar">
                    <span class="indicator"></span>
                </div>
            </div>
        </div> 
    </main>
    <script src="/scripts/main.js"></script>
</body>
</html>
