<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="vragenlijst">
    <main>
        <section>
            <h1>Hoe lang mag de film duren?</h1>
            <ul class="checkboxbutton-list">
                <li><button class="checkbox-button">90 min en korter</button></li>
                <li><button class="checkbox-button">90 tot 120 min</button></li>
                <li><button class="checkbox-button">120 min en langer</button></li>
            </ul>
            <div class="volgende-vorige">
                <button class="primary-button">vorige</button>    
                <button class="primary-button">volgende</button>
            </div>    
        </section>
    </main>
</body>
</html>
