<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="vragenlijst" data-stap="4">
    <main>
        <section>
            <h1>Welke filmperiode spreekt je aan?</h1>
            <ul class="checkboxbutton-list">
                <li><button class="checkbox-button" onclick="kiesPeriode('Geen voorkeur')">Geen voorkeur</button></li>
                <li><button class="checkbox-button" onclick="kiesPeriode('Nieuwste films')">Nieuwste films</button></li>
                <li><button class="checkbox-button" onclick="kiesPeriode('Vanaf 2020')">vanaf 2020</button></li>
            </ul>
            <ul class="checkboxbutton-list">
                <li><button class="checkbox-button" onclick="kiesPeriode('2010-2019')">2010-2019</button></li>
                <li><button class="checkbox-button" onclick="kiesPeriode('2000-2009')">2000-2009</button></li>
                <li><button class="checkbox-button" onclick="kiesPeriode('Klassiekers')">Klassiekers</button></li>
            </ul>
            <div class="volgende-vorige">
                <button onclick="window.location.href='/vragenlijst-vraag3'" id="vorige" class="primary-button">vorige</button>    
                <button onclick="window.location.href='/vragenlijst-vraag5'" id="volgende" class="primary-button">volgende</button>
            </div>       
        </section>
        <div class="container">
            <div class="stappen">
                <span class="cirkel actief">1</span>
                <span class="cirkel actief">2</span>
                <span class="cirkel actief">3</span>
                <span class="cirkel actief">4</span>
                <span class="cirkel">5</span>
                <span class="cirkel">6</span>
                <div class="progressie-bar">
                    <span class="indicator"></span>
                </div>
            </div>
        </div> 
    </main>
    <script src="/scripts/main.js"></script>
</body>
</html>
