<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="vragenlijst">
    <main>
        <section>
            <h1>In welke stemming ben je?</h1>
            <ul class="checkboxbutton-list">
                <li><button class="checkbox-button">Feel good</button></li>
                <li><button class="checkbox-button">Romantisch</button></li>
                <li><button class="checkbox-button">Avontuurlijk</button></li>
            </ul>
            <ul class="checkboxbutton-list">
                <li><button class="checkbox-button">Sentimenteel</button></li>
                <li><button class="checkbox-button">Spanning</button></li>
                <li><button class="checkbox-button">Luchtig</button></li> 
            </ul>
            <ul class="checkboxbutton-list">
                <li><button class="checkbox-button">Nostalgisch</button></li>
                <li><button class="checkbox-button">Chill</button></li>
                <li><button class="checkbox-button">Hartverwarmend</button></li>
            </ul>
            <ul class="checkboxbutton-list">
                <li><button class="checkbox-button">Psychologisch</button></li>
                <li><button class="checkbox-button">Diepgaand</button></li>
                <li><button class="checkbox-button">Mysterieus</button></li>
            </ul>
            <div class="volgende-vorige">
                <button class="primary-button">vorige</button>    
                <button class="primary-button">volgende</button>
            </div>    
        </section>
    </main>
</body>
</html>
