<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vragenlijst - Vraag 4</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="vragenlijst" data-stap="4">
    <header>
    <%- include('partials/header', { hideAuthButtons: true }) %>
    </header>
    <main>
        <section>
            <h1>Welke filmperiode spreekt je aan?</h1>
            <ul class="checkboxbutton-list">
                <li>
                    <input class="checkbox-input" type="radio" id="periode-geen-voorkeur" name="periode" value="Geen voorkeur" onchange="kiesPeriode('Geen voorkeur')">
                    <label class="checkbox-button" for="periode-geen-voorkeur">Geen voorkeur</label>
                </li>
                <li>
                    <input class="checkbox-input" type="radio" id="periode-nieuwste-films" name="periode" value="Nieuwste films" onchange="kiesPeriode('Nieuwste films')">
                    <label class="checkbox-button" for="periode-nieuwste-films">Nieuwste films</label>
                </li>
                <li>
                    <input class="checkbox-input" type="radio" id="periode-vanaf-2020" name="periode" value="Vanaf 2020" onchange="kiesPeriode('Vanaf 2020')">
                    <label class="checkbox-button" for="periode-vanaf-2020">vanaf 2020</label>
                </li>
            </ul>
            <ul class="checkboxbutton-list">
                <li>
                    <input class="checkbox-input" type="radio" id="periode-2010-2019" name="periode" value="2010-2019" onchange="kiesPeriode('2010-2019')">
                    <label class="checkbox-button" for="periode-2010-2019">2010-2019</label>
                </li>
                <li>
                    <input class="checkbox-input" type="radio" id="periode-2000-2009" name="periode" value="2000-2009" onchange="kiesPeriode('2000-2009')">
                    <label class="checkbox-button" for="periode-2000-2009">2000-2009</label>
                </li>
                <li>
                    <input class="checkbox-input" type="radio" id="periode-klassiekers" name="periode" value="Klassiekers" onchange="kiesPeriode('Klassiekers')">
                    <label class="checkbox-button" for="periode-klassiekers">Klassiekers</label>
                </li>
            </ul>
            <div class="volgende-vorige">
                <a href="/vragenlijst-vraag3" id="vorige" class="primary-button">vorige</a>
                <a href="/vragenlijst-vraag5" id="volgende" class="primary-button">volgende</a>
            </div>       
        </section>
        <div class="container">
            <div class="stappen">
                <span class="cirkel actief">1</span>
                <span class="cirkel actief">2</span>
                <span class="cirkel actief">3</span>
                <span class="cirkel actief">4</span>
                <span class="cirkel">5</span>
                <span class="cirkel">6</span>
                <div class="progressie-bar">
                    <span class="indicator"></span>
                </div>
            </div>
        </div> 
    </main>
    <script src="/scripts/main.js"></script>
</body>
</html>
