<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="vragenlijst">
    <button onclick="history.back()" class="back-button">
        <img src="../images/icoon-pijl-wit.svg" alt="witte pijl naar rechts" aria-hidden="true">
        Terug
    </button>
    <main>
        <h1>Vindt de film voor nu!</h1>
        <section>
            <h2>Door het invullen van deze vragenlijst vind je precies
de film voor het moment. De vragenlijst bestaat uit 6 vragen. </h2>
            <a href="/vragenlijst-vraag1" class="primary-button">Start</a>
        </section>
    </main>
</body>
</html>
