<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="vragenlijst" data-stap="1">
    <main>
        <section>
            <h1>Welk genre heb je zin in?</h1>
            <ul class="checkboxbutton-list">
                <li><button class="checkbox-button">Anime</button></li>
                <li><button class="checkbox-button">Comedy</button></li>
                <li><button class="checkbox-button">Documentaire</button></li>
            </ul>
            <ul class="checkboxbutton-list">
                <li><button class="checkbox-button">Actie</button></li>
                <li><button class="checkbox-button">Horror</button></li>
                <li><button class="checkbox-button">Fantasy</button></li> 
            </ul>
            <ul class="checkboxbutton-list">
                <li><button class="checkbox-button">Critic’s choice</button></li>
                <li><button class="checkbox-button">sci-fi</button></li>
                <li><button class="checkbox-button">Romantiek</button></li>
            </ul>
            <ul class="checkboxbutton-list">
                <li><button class="checkbox-button">Drama</button></li>
                <li><button class="checkbox-button">misdaad</button></li>
                <li><button class="checkbox-button">thrillers</button></li>
            </ul>
            <div class="volgende-vorige">
                <button onclick="window.location.href='/vragenlijst'" id="vorige" class="primary-button">vorige</button>    
                <button onclick="window.location.href='/vragenlijst-vraag2'" id="volgende" class="primary-button">volgende</button>
            </div>   
        </section>
        <div class="container">
            <div class="stappen">
                <span class="cirkel actief">1</span>
                <span class="cirkel">2</span>
                <span class="cirkel">3</span>
                <span class="cirkel">4</span>
                <span class="cirkel">5</span>
                <span class="cirkel">6</span>
                <div class="progressie-bar">
                    <span class="indicator"></span>
                </div>
            </div>
        </div> 
    </main>
    <script src="/scripts/main.js"></script>
</body>
</html>
