<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="vragenlijst" data-stap="3">
    <main>
        <section>
            <h1>Wat vind je belangrijk?</h1>
            <ul class="checkboxbutton-list">
                <li>
                    <input class="checkbox-input" type="radio" id="belangrijk-hoog-beoordeeld" name="belangrijk" value="Hoog beoordeeld" onchange="kiesBelangrijk('Hoog beoordeeld')">
                    <label class="checkbox-button" for="belangrijk-hoog-beoordeeld">Hoog beoordeeld</label>
                </li>
                <li>
                    <input class="checkbox-input" type="radio" id="belangrijk-populair" name="belangrijk" value="Populair" onchange="kiesBelangrijk('Populair')">
                    <label class="checkbox-button" for="belangrijk-populair">Populair</label>
                </li>
                <li>
                    <input class="checkbox-input" type="radio" id="belangrijk-maakt-niet-uit" name="belangrijk" value="Maakt niet uit" onchange="kiesBelangrijk('Maakt niet uit')">
                    <label class="checkbox-button" for="belangrijk-maakt-niet-uit">Maakt niet uit</label>
                </li>
            </ul>
            <div class="volgende-vorige">
                <a href="/vragenlijst-vraag2" id="vorige" class="primary-button">vorige</a>
                <a href="/vragenlijst-vraag4" id="volgende" class="primary-button">volgende</a>
            </div>        
        </section>
        <div class="container">
            <div class="stappen">
                <span class="cirkel actief">1</span>
                <span class="cirkel actief">2</span>
                <span class="cirkel actief">3</span>
                <span class="cirkel">4</span>
                <span class="cirkel">5</span>
                <span class="cirkel">6</span>
                <div class="progressie-bar">
                    <span class="indicator"></span>
                </div>
            </div>
        </div>
    </main>
    <script src="/scripts/main.js"></script>
</body>
</html>
