<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="vragenlijst" data-stap="1">
    <main>
        <section>
            <h1>Welk genre heb je zin in?</h1>
            <ul class="checkboxbutton-list">
                <li>
                    <input class="checkbox-input" type="radio" id="genre-actie" name="genre" value="Actie" onchange="kiesGenre('Actie')">
                    <label class="checkbox-button" for="genre-actie">Actie</label>
                </li>
                <li>
                    <input class="checkbox-input" type="radio" id="genre-comedy" name="genre" value="Comedy" onchange="kiesGenre('Comedy')">
                    <label class="checkbox-button" for="genre-comedy">Comedy</label>
                </li>
                <li>
                    <input class="checkbox-input" type="radio" id="genre-horror" name="genre" value="Horror" onchange="kiesGenre('Horror')">
                    <label class="checkbox-button" for="genre-horror">Horror</label>
                </li>
            </ul>
            <ul class="checkboxbutton-list">
                <li>
                    <input class="checkbox-input" type="radio" id="genre-drama" name="genre" value="Drama" onchange="kiesGenre('Drama')">
                    <label class="checkbox-button" for="genre-drama">Drama</label>
                </li>
                <li>
                    <input class="checkbox-input" type="radio" id="genre-romantiek" name="genre" value="Romantiek" onchange="kiesGenre('Romantiek')">
                    <label class="checkbox-button" for="genre-romantiek">Romantiek</label>
                </li>
                <li>
                    <input class="checkbox-input" type="radio" id="genre-sci-fi" name="genre" value="Sci-fi" onchange="kiesGenre('Sci-fi')">
                    <label class="checkbox-button" for="genre-sci-fi">Sci-fi</label>
                </li> 
            </ul>
            <ul class="checkboxbutton-list">
                <li>
                    <input class="checkbox-input" type="radio" id="genre-animatie" name="genre" value="Animatie" onchange="kiesGenre('Animatie')">
                    <label class="checkbox-button" for="genre-animatie">Animatie</label>
                </li>
                <li>
                    <input class="checkbox-input" type="radio" id="genre-misdaad" name="genre" value="Misdaad" onchange="kiesGenre('Misdaad')">
                    <label class="checkbox-button" for="genre-misdaad">Misdaad</label>
                </li>
                <li>
                    <input class="checkbox-input" type="radio" id="genre-fantasy" name="genre" value="Fantasy" onchange="kiesGenre('Fantasy')">
                    <label class="checkbox-button" for="genre-fantasy">Fantasy</label>
                </li>
            </ul>
            <div class="volgende-vorige">
                <button onclick="window.location.href='/vragenlijst'" id="vorige" class="primary-button">vorige</button>    
                <button onclick="window.location.href='/vragenlijst-vraag2'" id="volgende" class="primary-button">volgende</button>
            </div>   
        </section>
        <div class="container">
            <div class="stappen">
                <span class="cirkel actief">1</span>
                <span class="cirkel">2</span>
                <span class="cirkel">3</span>
                <span class="cirkel">4</span>
                <span class="cirkel">5</span>
                <span class="cirkel">6</span>
                <div class="progressie-bar">
                    <span class="indicator"></span>
                </div>
            </div>
        </div> 
    </main>
    <script src="/scripts/main.js"></script>
</body>
</html>
