<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="vragenlijst" data-stap="2">
    <main>
        <section>
            <h1>Wat voor sfeer zoek je?</h1>
            <ul class="checkboxbutton-list">
                <li>
                    <input class="checkbox-input" type="radio" id="sfeer-spannend" name="sfeer" value="Spannend" onchange="kiesSfeer('Spannend')">
                    <label class="checkbox-button" for="sfeer-spannend">Spannend</label>
                </li>
                <li>
                    <input class="checkbox-input" type="radio" id="sfeer-vrolijk" name="sfeer" value="Vrolijk" onchange="kiesSfeer('Vrolijk')">
                    <label class="checkbox-button" for="sfeer-vrolijk">Vrolijk</label>
                </li>
                <li>
                    <input class="checkbox-input" type="radio" id="sfeer-romantisch" name="sfeer" value="Romantisch" onchange="kiesSfeer('Romantisch')">
                    <label class="checkbox-button" for="sfeer-romantisch">Romantisch</label>
                </li>
            </ul>
            <ul class="checkboxbutton-list">
                <li>
                    <input class="checkbox-input" type="radio" id="sfeer-donker" name="sfeer" value="Donker" onchange="kiesSfeer('Donker')">
                    <label class="checkbox-button" for="sfeer-donker">Donker</label>
                </li>
                <li>
                    <input class="checkbox-input" type="radio" id="sfeer-avontuurlijk" name="sfeer" value="Avontuurlijk" onchange="kiesSfeer('Avontuurlijk')">
                    <label class="checkbox-button" for="sfeer-avontuurlijk">Avontuurlijk</label>
                </li>
                <li>
                    <input class="checkbox-input" type="radio" id="sfeer-ontspannend" name="sfeer" value="Ontspannend" onchange="kiesSfeer('Ontspannend')">
                    <label class="checkbox-button" for="sfeer-ontspannend">Ontspannend</label>
                </li> 
            </ul>
            <div class="volgende-vorige">
                <a href="/vragenlijst-vraag1" id="vorige" class="primary-button">vorige</a>
                <a href="/vragenlijst-vraag3" id="volgende" class="primary-button">volgende</a>
            </div>     
        </section>
        <div class="container">
            <div class="stappen">
                <span class="cirkel actief">1</span>
                <span class="cirkel actief">2</span>
                <span class="cirkel">3</span>
                <span class="cirkel">4</span>
                <span class="cirkel">5</span>
                <span class="cirkel">6</span>
                <div class="progressie-bar">
                    <span class="indicator"></span>
                </div>
            </div>
        </div>
    </main>
    <script src="/scripts/main.js"></script>
</body>
</html>
