<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="vragenlijst" data-stap="6">
    <header>
    <%- include('partials/header', { hideAuthButtons: true }) %>
    </header>
    <main>
        <section>
            <h1>Welke taal heeft je voorkeur?</h1>
            <ul class="checkboxbutton-list">
                <li>
                    <input class="checkbox-input" type="radio" id="taal-engels" name="taal" value="Engels" onchange="kiesTaal('Engels')">
                    <label class="checkbox-button" for="taal-engels">Engels</label>
                </li>
                <li>
                    <input class="checkbox-input" type="radio" id="taal-nederlands" name="taal" value="Nederlands" onchange="kiesTaal('Nederlands')">
                    <label class="checkbox-button" for="taal-nederlands">Nederlands</label>
                </li>
            </ul>
            <ul class="checkboxbutton-list">
                <li>
                    <input class="checkbox-input" type="radio" id="taal-japans" name="taal" value="Japans" onchange="kiesTaal('Japans')">
                    <label class="checkbox-button" for="taal-japans">Japans</label>
                </li>
                <li>
                    <input class="checkbox-input" type="radio" id="taal-geen-voorkeur" name="taal" value="Geen voorkeur" onchange="kiesTaal('Geen voorkeur')">
                    <label class="checkbox-button" for="taal-geen-voorkeur">Geen voorkeur</label>
                </li>
            </ul>
            <div class="volgende-vorige">
                <a href="/vragenlijst-vraag5" id="vorige" class="primary-button">vorige</a>
                <form action="/matching" method="POST" id="vragenForm">
                    <input type="hidden" name="antwoorden" id="antwoordenInput">
                    <button type="submit" id="volgende" class="primary-button">Resultaat</button>
                </form>
            </div>  
                 
        </section>
        <div class="container">
            <div class="stappen">
                <span class="cirkel actief">1</span>
                <span class="cirkel actief">2</span>
                <span class="cirkel actief">3</span>
                <span class="cirkel actief">4</span>
                <span class="cirkel actief">5</span>
                <span class="cirkel actief">6</span>
                <div class="progressie-bar">
                    <span class="indicator"></span>
                </div>
            </div>
        </div>
    </main>
    <script src="/scripts/main.js"></script>
</body>
</html>
