<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="vragenlijst">
    <main>
        <section>
            <p>Welk genre heb je zin in?</p>
            <ul class="checkboxbutton-list">
                <li><button class="checkbox-button">Anime</button></li>
                <li><button class="checkbox-button">Comedy</button></li>
                <li><button class="checkbox-button">Documentaire</button></li>
            </ul>
            <ul class="checkboxbutton-list">
                <li><button class="checkbox-button">Actie</button></li>
                <li><button class="checkbox-button">Horror</button></li>
                <li><button class="checkbox-button">Fantasy</button></li> 
            </ul>
            <ul class="checkboxbutton-list">
                <li><button class="checkbox-button">Critic’s choice</button></li>
                <li><button class="checkbox-button">sci-fi</button></li>
                <li><button class="checkbox-button">Romantiek</button></li>
            </ul>
            <ul class="checkboxbutton-list">
                <li><button class="checkbox-button">Drama</button></li>
                <li><button class="checkbox-button">misdaad</button></li>
                <li><button class="checkbox-button">thrillers</button></li>
            </ul>
            <div>
                <button class="primary-button">vorige</button>    
                <button class="primary-button">volgende</button>
            </div>    
        </section>
    </main>
</body>
</html>
