<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="vragenlijst" data-stap="2">
    <main>
        <section>
            <h1>Wat voor sfeer zoek je?</h1>
            <ul class="checkboxbutton-list">
                <li><button class="checkbox-button" onclick="kiesSfeer('Spannend')">Spannend</button></li>
                <li><button class="checkbox-button" onclick="kiesSfeer('Vrolijk')">Vrolijk</button></li>
                <li><button class="checkbox-button" onclick="kiesSfeer('Romantisch')">Romantisch</button></li>
            </ul>
            <ul class="checkboxbutton-list">
                <li><button class="checkbox-button" onclick="kiesSfeer('Donker')">Donker</button></li>
                <li><button class="checkbox-button" onclick="kiesSfeer('Avontuurlijk')">Avontuurlijk</button></li>
                <li><button class="checkbox-button" onclick="kiesSfeer('Ontspannend')">Ontspannend</button></li> 
            </ul>
            <div class="volgende-vorige">
                <button onclick="window.location.href='/vragenlijst-vraag1'" id="vorige" class="primary-button">vorige</button>    
                <button onclick="window.location.href='/vragenlijst-vraag3'" id="volgende" class="primary-button">volgende</button>
            </div>     
        </section>
        <div class="container">
            <div class="stappen">
                <span class="cirkel actief">1</span>
                <span class="cirkel actief">2</span>
                <span class="cirkel">3</span>
                <span class="cirkel">4</span>
                <span class="cirkel">5</span>
                <span class="cirkel">6</span>
                <div class="progressie-bar">
                    <span class="indicator"></span>
                </div>
            </div>
        </div>
    </main>
    <script src="/scripts/main.js"></script>
</body>
</html>
