/* Algemene styling */
    @font-face {
        font-family: bigDeal; /* set name */
        src: url(aBigDeal.ttf); /* url of the font */
    }
    
    body{
        margin: 0;
        background-color: black;
    }

    
    a{
        text-decoration: none;
    }

    .primary-button{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #F45A1A;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;

        padding: 20px 75px;
        border-radius: 20px;

        border: none;
        cursor: pointer;
    }


/* Navigatie/Header  styling  */
    nav{
        margin-left: 2em;
        margin-right: 2em;
    }
    nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul li{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1em;
        align-items: center;
    }

    nav ul li img{
        height: 70px;
        width: auto;
        padding-bottom: 2em;
    }

    nav ul li a{
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 22px;
        align-items: center;
        padding: 20px 37.5px;


        /* height: 5em;
        width: 11em;     */
    }

    a.registreren{
        background: linear-gradient(90deg, #321A70, #F45A1A);
        color: white;
        font-weight: bold;
    }

    a.inloggen{
        border: 1px solid #F45A1A;
        color: white;
    }

    

    .background-video{
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: -1;
        opacity: 70%;
    }

    .hero main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero h1{
        font-family: "a Big Deal";
        font-size: 200px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        background: linear-gradient(90deg, rgba(255, 255, 255, 0.20) 15.39%, rgba(58, 34, 120, 0.14) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    
/* Footer styling */

    footer{
        background-color: black;
        height: 12em;
    }

    footer a{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
    }
    footer ul{
        list-style: none;
        
    }

    footer ul li{
        padding-right: 6em;
        height: 1.5em;
    }

    footer ul:first-of-type{
        padding-top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-bottom: 1em;
        margin-right: 2em;
        margin-left: 2em;

    }

    footer ul:last-of-type{
        padding-top: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        border-top: 1px solid red;
        margin-right: 2em;
        margin-left: 2em;
    }

    footer ul:last-of-type img{
        height: 40px;
        width: 40px;
    }

    .socials{
        display: flex;
        flex-wrap: wrap;
        margin-top: 1em;
        flex-direction: row;
    }