/* Algemene styling */
    :root {
        --button-color: #F45a1a;
        --outline-color: #321A70;
        --text-color: #FFFF;
        --background-color: #121212;
        --header-font: aBigDeal;
        --body-font: Arial, Helvetica, sans-serif;
    } 

    @font-face {
        font-family: bigDeal; /* set name */
        src: url(aBigDeal.ttf); /* url of the font */
    }

    
    body{
        margin: 0;
        font-family: aBigDeal, sans-serif;
        background: url("../images/background.png");
        background-repeat: repeat;
        background-size: auto;
        background-position: center;
        background-color: var(--background-color);
        color: var(--text-color);
    }

    h2{
        font-family: var(--header-font);
        font-size: 2.5em;
        padding: 0 5rem;
    }

    a{
        text-decoration: none;
    }

    ul{
        list-style: none;
    }

    .primary-button{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #F45A1A;
        color: white;
        font-family: var(--body-font);
        font-weight: bold;
        padding: 20px 75px;
        border-radius: 20px;

        border: none;
        cursor: pointer;
    }


/* Navigatie/Header  styling  */

    nav{
        margin-right: 2em;
    }
    nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul li{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1em;
        align-items: center;
    }

    nav ul li img{
        height: 70px;
        width: auto;
        padding-bottom: 2em;
    }

    nav ul li a{
        font-family: var(--body-font);
        border-radius: 22px;
        align-items: center;
        padding: 20px 37.5px;


        /* height: 5em;
        width: 11em;     */
    }

    a.registreren{
        background: linear-gradient(90deg, #321A70, #F45A1A);
        color: white;
        font-weight: bold;
    }

    a.inloggen{
        border: 1px solid #F45A1A;
        color: white;
    }



/*hero styling */
.hero{
    padding-bottom:4em;
    position: relative;
    overflow: hidden;
    
}

    /* Register Styling */
    .register_main {
        background: #121212;
    }

    .register_h1 {
        color: #321A70;
    }

    .background-video{
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    
        padding-left: 2.5em;
 
        z-index: -1;
        filter: brightness(0.7) contrast(1.1) saturate(0.9);
        
        transform: scale(1.1);
    }

    .hero::after {
        content: "";
        position: absolute;
        inset: 0;
        z-index: -1;

        background: radial-gradient(
            circle,
            rgba(0, 0, 0, 0) 50%,
            rgba(0, 0, 0, 0.55) 100%
        );

        
    }

    .hero main{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .hero h1{
        margin: 0.4em 0 0 0; 
        
        font-family: var(--header-font);
        font-size: 200px;
        font-weight: 400;
        background: linear-gradient(90deg, rgba(255, 255, 255, 0.25), rgba(58, 34, 120, 0.25));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-text-stroke: 1px rgba(120,100,255,0.3);
    }

    .hero h2{
        margin:0 0 2em 0;
    }

/*index styling */
    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 4em 0;
    }

    .info ul{
        
        display: flex;
        width: 80%;
        justify-content: space-between;
        padding-bottom: 1.5em; 
    }

    .info li{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .movie-grid{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }

    .movie-card{
        position: relative;
        overflow: hidden;  
    }

    .movie-card img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .movie-card h3{
        position: absolute;
        inset: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        color: white;
        font-size: 28px;
        text-align: center;
    }

    .movie-card::before{
        content:"";
        position:absolute;
        inset:0;

        background: rgba(0,0,0,0.35);
    }

/* Register Styling */
.register_main {
    background: #121212;
}

.register_h1 {
    color: #321A70;
}

    
/* Footer styling */

    footer{
        background-color: var(--background-color);
        height: 12em;
    }

    footer a{
        color: var(--text-color);
        font-family: var(--body-font);
    }
    footer ul{
        list-style: none; 
    }

    footer ul li{
        padding-right: 6em;
        height: 1.5em;
    }

    footer ul:first-of-type{
        padding-top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-bottom: 1em;
        margin-right: 2em;
        margin-left: 2em;

    }

    footer ul:last-of-type{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: top;
        border-top: 1px solid red;
    }

    footer ul:last-of-type img{
        width: 28px;
        height: 28px;
    }

    li.socials{
        display: flex; /* spacing between items; adjust as needed */
        flex-direction: row;
        gap: 10px;
        margin-top: 1.3em;
        align-items: start; /* vertically centers if icons/text differ in height */
    }






    
/* Profile pagina **************************************/ 
/* Kevin's Stukje **************************************/

    #recentlyWatched{
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 5em;
        margin-left: 2em;
        margin-right: 2em;
        margin-bottom: 4em;
    }

    #recentlyWatched ul{
        list-style: none;
        width: auto;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        margin-left: 0;
        margin-right: 2.5em;
        box-sizing: border-box;
        overflow-x: auto;     
        overflow-y: hidden;
    }

    #recentlyWatched ul::-webkit-scrollbar{
        height: 8px; /* horizontal scrollbar height */
    }

    #recentlyWatched ul::-webkit-scrollbar-track{
        background: transparent;
    }

    #recentlyWatched ul::-webkit-scrollbar-thumb{
        background: var(--button-color);
        border-radius: 10px;
    }

    #recentlyWatched ul::-webkit-scrollbar-thumb:hover{
        background: var(--text-color);
    }

    #recentlyWatched ul li{
        width: 200px;
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-right: 1em;
    }

    #recentlyWatched ul li > img{
        height: 280px;
        width: 200px;
        object-fit: cover;
    }

    #recentlyWatched h2{
        font-family: var(--font);
        text-align: center;
        font-size: 40px;
    }

    #recentlyWatched h3{
        font-size: 16px;
    }


    #watchList h2{
        font-family: var(--font);
        font-size: 40px;
        color: var(--text-color);
    }
