/* Algemene styling */
    :root {
        --button-color: #F45a1a;
        --outline-color: #321A70;
        --text-color: #FFFF;
        --background-color: #121212;
        --font: aBigDeal;
    }   



    @font-face {
        font-family: bigDeal; /* set name */
        src: url(aBigDeal.ttf); /* url of the font */
    }
    
    body{
        margin: 0;
        font-family: aBigDeal, sans-serif;
        background: url("../images/background.png");
        background-repeat: repeat;
        background-size: 120% 200%;
        background-position: center;
        background-color: var(--background-color);
    }

    
    a{
        text-decoration: none;
    }

    .primary-button{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background-color: #F45A1A;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;

        padding: 20px 75px;
        border-radius: 20px;

        border: none;
        cursor: pointer;
    }


/* Navigatie/Header  styling  */
    nav{
        margin-left: 2em;
        margin-right: 2em;
    }
    nav ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    nav ul li{
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 1em;
        align-items: center;
    }

    nav ul li img{
        height: 70px;
        width: auto;
        padding-bottom: 2em;
    }

    nav ul li a{
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 22px;
        align-items: center;
        padding: 20px 37.5px;


        /* height: 5em;
        width: 11em;     */
    }

    a.registreren{
        background: linear-gradient(90deg, #321A70, #F45A1A);
        color: white;
        font-weight: bold;
    }

    a.inloggen{
        border: 1px solid #F45A1A;
        color: white;
    }

    

/* Register Styling */

.register-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .1fr .37fr .37fr .1fr .01fr;
}

.h1-register {
    color: #FFF;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: "a Big Deal";
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    grid-column-start: 2;
    justify-self: center;
    grid-row-start: 2;
}

.form-rectangle {
    display: grid;
    grid-template-rows: .1fr .1fr 1fr 3fr;
    grid-template-columns: .1fr 1fr 1fr .1fr;
    width: 50rem;
    height: 32rem;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.10);
    grid-column-start: 2;
    grid-row-start: 3;
    justify-self: center;
}

.h2-welkom {
    color: #FFF;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    grid-row-start: 2;
    grid-column: 2 / 4;
    justify-self: center;
    margin: 0;
}

.registreer-form {
    display: grid;
    grid-template-rows: .1fr .1fr .1fr .1fr .1fr .1fr .1fr .1fr;
    grid-template-columns: .1fr 1fr 1fr .1fr;
    grid-row-start: 3;
    grid-column: 2 / 5;
    justify-self: center;
}

.vnaam {
    grid-row-start: 1;
    grid-column-start: 2;
}

#vnaam {
    grid-row-start: 2;
    grid-column-start: 2;
}

.anaam {
    grid-row-start: 1;
    grid-column-start: 3;
}

#anaam {
    grid-row-start: 2;
    grid-column-start: 3;
}

.email {
    grid-row-start: 3;
    grid-column-start: 2;
}

#email {
    grid-row-start: 4;
    grid-column: 2 / 4;
}

.wwoord {
    grid-row-start: 5;
    grid-column-start: 2;
}

#wwoord {
    grid-row-start: 6;
    grid-column: 2 / 4;
}

.alac {
    grid-row-start: 7;
    grid-column-start: 3;
}

#register {
    grid-row-start: 8;
    grid-column: 2 / 4;
}


    .background-video{
        position: absolute;
        width: 100%;
        bottom: 0;
        z-index: -1;
        opacity: 70%;
    }

    .hero main{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero h1{
        font-family: "a Big Deal";
        font-size: 200px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        background: linear-gradient(90deg, rgba(255, 255, 255, 0.20) 15.39%, rgba(58, 34, 120, 0.14) 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    
/* Footer styling */

    footer{
        background-color: var();
        height: 12em;
    }

    footer a{
        color: var(--text-color);
        font-family: Arial, Helvetica, sans-serif;
    }
    footer ul{
        list-style: none; 
    }

    footer ul li{
        padding-right: 6em;
        height: 1.5em;
    }

    footer ul:first-of-type{
        padding-top: 1em;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-bottom: 1em;
        margin-right: 2em;
        margin-left: 2em;

    }

    footer ul:last-of-type{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: top;
        border-top: 1px solid red;
    }

    footer ul:last-of-type img{
        width: 28px;
        height: 28px;
    }

    li.socials{
        display: flex; /* spacing between items; adjust as needed */
        gap: 8px;
        margin-top: 1.3em;
        align-items: end; /* vertically centers if icons/text differ in height */
    }



    
    /* Profile pagina */ 
    #profilebanner h2{
        text-align: center;
        font-family: aBigDeal;
        color: var(--text-color);
    }

    #profilebanner a#profileMatchList{
    display: block;
    width: 200px;
    height: 50px;
    text-align: center;
    color: var(--text-color);
    background-color: var(--button-color);
    border-radius: 16px;
    margin: 0 auto;
    }

    #recentlyWatched{
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    margin-top: 5em;
    margin-left: 2.5em;
    margin-right: 2.5em;
    margin-bottom: 4em;
    }

    #recentlyWatched ul{
    list-style: none;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    margin-left: 0;
    margin-right: 2.5em;
    box-sizing: border-box;
    overflow-x: auto;     
    overflow-y: hidden;
    }

    #recentlyWatched ul li{
    width: 176px;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-right: 1em;
    }

    #recentlyWatched ul li > img{
    height: 280px;
    width: 170px;
    object-fit: cover;
    }

    #recentlyWatched h3{
    font-size: 16px;
    }
